/* Inicio do css da tela */
.backgroundImagem {
  background-image: url(/public/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.App-header {
    /*background-color: #282c34; */
    
    min-height: 100vh;
    display: flex;
  
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
    
  }

  
  .App-letra {
    color: white;
   font-size: medium;
   margin-right: 77%;
   margin-top: -43%;
  }
  
  .App-container {
    font-size: 60%;
    margin-right:35%;
    margin-top: 1%;
  }
  
  
  .App-coluna {
  
    margin-top: -37%;
    margin-right: 80%;
  }

  .Nome_Animal{
    flex-direction: row;
  }

/* fim do css da tela */


