/* Estilização para o layout dos elementos */



.paciente {
  text-align: center;
  font-size: 24px; /* Tamanho da fonte desejado para o título */
}

/* Estilização para os elementos do formulário */
.DadosDoAnimal {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Espaçamento vertical entre os elementos */
}

.fonte {
  width: 200px; /* Largura do rótulo (label) */
  text-align: right; /* Alinha o texto do rótulo à direita */
  padding-right: 10px; /* Espaçamento à direita do rótulo */
  font-size: 16px; /* Tamanho da fonte do rótulo */
}

.letra {
  width: 100%; /* Ocupa toda a largura restante */
  padding: 5px;
  font-size: 16px; /* Tamanho da fonte do input */
}

/* Estilização para os selects (dropdowns) */
.dropbox {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Espaçamento vertical entre os elementos */
  width: 100%; /* Ocupa toda a largura restante */
}

/* Estilização para os selects (dropdowns) */
select {
  width: 100%; /* Ocupa toda a largura restante */
  font-size: 16px; /* Tamanho da fonte do select */
}
