/* Inicio do css da tela */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  }

.backgroundImagem {
  background-image: url(/public/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  
}

header {
    /*background-color: #282c34; */  
    height: 600px;
    display: flex;   
    color: white;  
    background-color: blueviolet;  
    padding: 20px;
    width: 300px;
  }

   
  .App-letra { /* somente letra */
    color: white;
   font-size: medium;
   margin-right: 77%;
  
  }
  /*
  .App-container {  
    font-size: 60%;
    margin-right:35%;
    width: 30px;
    height: 30px;
  } */
  
  
 
 
  .Nome_Animal{
    flex-direction: row;
  }

 

/* fim do css da tela */

main {
  background-color: aquamarine;
  height: 200px;
  width: 100%;
}
