* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INICIO DOS CAMPOS DE INPUT E LABEL */

.backgroundImagem {
    background-image: url(/public/bg-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100% absolute;
    position: absolute;
}

header {
    height: 350px;
    border: 1px solid #9c91e4; 
    margin: 50px;
    width: 100% absolute;
    
} 

.paciente {
    font-size: 24px;
    color: 	#D3D3D3;
    text-align: center;
    width: 30%;
    padding-top: 50px;
}

.DadosDoAnimal {
    display: flex;
    align-items: center;
    margin: 15px;
    
}

.fonte {
    color: white;
    width: 200px;
    display: flex;
    padding-left: 30px;
}

.fonte2 {
    color: white;
    width: 190px;
    display: flex;
    padding-left: 43px;
   
    
}

.letra {
    padding-right: 150px;
    font-size: 16px;
    width: 24%;
       
}

 .data{
    
    width: 10%;

}

.dropbox {
    display: flex;
    align-items: center;
        
}

section {    
    margin-top: 20px;
}


/* CRIE O SEU CSS AQUI EM BAIXO  THIAGO OTERO    */

/* FIM DO DO CAMPO DOS INPUTS E LABEL  */

/* CSS PARA OS CAMPOS DE CIRURGIAS */

.containerCirurgia {

    height: 550px;
    border: 1px solid #9c91e4; 
    margin: 50px;
    width: 100% absolute;
    justify-content: center; 
    display: flex;

  

   
} 

.cirurgia{
    font-size: 24px;
    color: 	white;
    padding-top: 3%;
    
}




